// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .input {
//   width: 350px;
//   height: 40px;
//   border-radius: 5px;
// }

// .button {
//   background-color: #6bd58b;
//   height: 40px;
//   border-radius: 5px;
// }

$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

.banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}
